<script src="{{ asset('assets/javascript/jquery_002.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/javascript/jquery.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/javascript/main.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/javascript/wow.js') }}"></script>
<script>var wow = new WOW({boxClass: 'wow', animateClass: 'animated', offset: 0, mobile: true});
    wow.init();</script>
<script>
    if (window.location.search.indexOf('gclid') > -1) {
        var oReq = new XMLHttpRequest();
        oReq.open("GET", "/ip_collector.php");
        oReq.send();
    }
</script>
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 953393650;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript"
        src="{{ asset('assets/javascript/conversion.js') }}">
</script>
<script src="{{ asset('assets/javascript/a') }}"></script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt=""
             src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/953393650/?guid=ON&amp;script=0"/>
    </div>
</noscript>
<script src="{{ asset('assets/javascript/form.js') }}"
        async=""></script>
