{% extends 'front/base.html.twig' %}

{% block content_transition %}

    {{ sonata_block_render(
        { 'type': 'app.block.service.main' },
        {
            'class': 'AppBundle\\Entity\\Header',
            'category': 'Headers'
        }
    ) }}

    {{ sonata_block_render(
        { 'type': 'app.block.service.sections' },
        {
            'class': 'AppBundle\\Entity\\SecondSection',
            'category': 'SecondSection'
        }
    ) }}

    {{ sonata_block_render(
        { 'type': 'app.block.service.sections' },
        {
            'class': 'AppBundle\\Entity\\ThirdSection',
            'category': 'ThirdSection',
            'template': 'Block/third-sections.html.twig'
        }
    ) }}

    {{ sonata_block_render(
        { 'type': 'app.block.service.main' },
        {
            'class': 'AppBundle\\Entity\\Service',
            'category': 'Service',
            'template': 'Block/services.html.twig'
        }
    ) }}

    {% if categories %}
        <section class="container-fluid reviews-screen" id="3">
            <div class="row">
                <div class="container">
                    <h3>{{ 'our_works_title' | trans }}</h3>
                    <div class="statistic-reviews our-work">
                        {% for category in categories %}
                            <div class="category">
                                <h2><a href="{{ path('our_work_item', {'id': category.id}) }}">{{ category.title }}</a></h2>
                                <a href="{{ path('our_work_item', {'id': category.id}) }}">
                                    <img width="300px" src="{{ vich_uploader_asset(category, 'file') }}" alt="{{ category.title }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {{ sonata_block_render(
        { 'type': 'app.block.service.main' },
        {
            'class': 'AppBundle\\Entity\\Contact',
            'category': 'Contacts',
            'template': 'Block/contacts.html.twig'
        }
    ) }}

{% endblock %}