{% extends 'base.html.twig' %}

{% block body %}
    <div class="menu_support">
    </div>

    <div class="container">

            <a href="{{ path('add_category') }}">Add category</a>

    {% for category in categories %}
        <div>
            <b class="spoiler-title">{{ category.category }}</b>
        <div class="spoiler-body" id="{{ category.category }}_block">

                <img src="/images/Settings.svg" class="spoiler-title float-right img">
                <span class="spoiler-body tools float-right"><a href="{{ path('add_makros' , {id: category.id }) }}">Add macros</a> || <a href="{{ path('delete_category', {id: category.id }) }}" class="delete">Delete category </a></span>

            <pre id="win_{{ category.category }}" class="window"></pre>
            <button type="button" data-clipboard-target="#win_{{ category.category }}" class="btn btn-primary" onmousedown="get('hello'), get1('{{ category.category }}', 3), get2('goodbye'), sum('{{ category.category }}')" id="{{ category.category }}_but">{{ category.category }}</button><br>
           {% for support in category.supports %}
               <span class="count_{{ category.category }}" id="{{ category.category }}{{ loop.index }}">{{ support.makros }}</span>

                    <img src="/images/Settings.svg" class="spoiler-title float-right">
                    <span class="spoiler-body tools float-right"><a href="{{ path('edit_makroses', {id: support.id }) }}">Edit</a> || <a href="{{ path('delete_makroses', {id: support.id}) }}" class="delete">Delete </a></span>

            <hr>
            {% endfor %}
        </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
