{% extends 'base.html.twig' %}

{% block body %}
    <div class="menu_support">
    </div>

    <div class="main">
    {% for categories in category %}
        <div class="blocks" id="{{ categories.category }}_block">
            <pre id="win_{{ categories.category }}" class="window"></pre>
            <button type="button" data-clipboard-target="#win_{{ categories.category }}" class="but" onmousedown="get('hello'), get1('{{ categories.category }}', 3), get2('goodbye'), sum('{{ categories.category }}')" id="{{ categories.category }}_but">{{ categories.category }}</button>
           {% for support in categories.supports %}
                {{ dump(support) }}
            {% endfor %}
                    <span id="{{ categories.category }}{{ loop.index }}"></span><br>
                    <br><hr>
        </div>
    {% endfor %}
    </div>
{% endblock %}
