{% extends 'base.html.twig' %}

{% block body %}
    <div class="menu_support">
    </div>

    <div class="container">
    {% for categories in category %}
        <div>
            <b class="spoiler-title">{{ categories.category }}</b>
        <div class="spoiler-body" id="{{ categories.category }}_block">
            <pre id="win_{{ categories.category }}" class="window"></pre>
            <button type="button" data-clipboard-target="#win_{{ categories.category }}" class="btn btn-primary" onmousedown="get('hello'), get1('{{ categories.category }}', 3), get2('goodbye'), sum('{{ categories.category }}')" id="{{ categories.category }}_but">{{ categories.category }}</button><br>
           {% for support in categories.supports %}
               <span class="count_{{ categories.category }}" id="{{ categories.category }}{{ loop.index }}">{{ support.makros }}</span>

               <hr>
            {% endfor %}
        </div>
        </div>
    {% endfor %}
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.spoiler-body').hide();
            $('.spoiler-title').click(function(){
                $(this).next().toggle(500)});
        });
    </script>
{% endblock %}
