{% extends 'base.html.twig' %}

{% block body %}
    <div class="menu_support">
    </div>

    <div class="container">
        {% for category in categories %}
            <div>
                <b class="spoiler-title">{{ category.category }}</b>
                <div class="spoiler-body" id="{{ category.category }}_block">
                    <pre id="win_{{ category.category }}" class="window"></pre>
                    <button type="button" data-clipboard-target="#win_{{ category.category }}" class="btn btn-primary" onmousedown="get('hello'), get1('{{ category.category }}', 3), get2('goodbye'), sum('{{ category.category }}')" id="{{ category.category }}_but">{{ category.category }}</button><br>
                    {% for support in category.supports %}
                        <span class="count_{{ category.category }}" id="{{ category.category }}{{ loop.index }}">{{ support.makros }}</span>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
